<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OOTiZ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OOTiZ.Properties.Settings.Vypusk" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\vypusk.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <OOTiZ.Properties.Settings>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ingener" serializeAs="String">
                <value>М.П.Коршак</value>
            </setting>
        </OOTiZ.Properties.Settings>
    </userSettings>
</configuration>